<div class="row">
    <div class="col-md-12">
        <form>
            <input ng-model="filtro" ng-model-options="{ debounce: 50 }" class="form-control" type="text" name="filtro" placeholder="Filtrar">
        </form>
    </div>
</div>

<div class="row">
    <meu-painel class="col-md-2 fade-out" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    </meu-painel>
</div> <!-- fim do row -->
