<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="row">
    <div class="col-md-12">
        <form>
        	<div class="input-group">
        		<span class="input-group-btn">
	        		<a href="fotos/new" class="btn btn-primary">Nova Foto</a>
        		</span>
	            <input ng-model="filtro" ng-model-options="{ debounce: 50 }" class="form-control" type="text" name="filtro" placeholder="Filtrar">
        	</div>
        </form>
    </div>
</div>

<div class="row">
    <meu-painel class="col-md-2 fade-out" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <img ng-click="clicou(foto)" class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
        <botao-primary nome="Editar" url="/fotos/edit/{{foto._id}}"></botao-primary>
        <botao-danger nome="Remover" acao="remover(foto)"></botao-danger>
    </meu-painel>
</div> <!-- fim do row -->
